composer.phar
/vendor/
# composer.lock

slim3/composer_cache/
slim3/projects/
slim3_skeleton/composer_cache/
slim3_skeleton/projects/
slim4/projects/
slim4_skeleton/projects/
composer_php73/Dockerfile
composer_php73/docker-entrypoint.sh
